<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trees generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>

<body>
    <script src="../node_modules/three/build/three.js"></script>
    <script src="../node_modules/systemjs/dist/system.js"></script>
    <script src="../node_modules/three/examples/js/controls/OrbitControls.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>

    <div id="stageArea"></div>
    <div id="controlsArea" ng-app="app">
        <div ng-controller="GuiController">
            <h3>Tree Position</h3>
			<label>X</label>
			<input type="number" ng-model="rootXcoord" ><br>
			<label>Y</label>
			<input type="number" ng-model="rootYcoord" ><br>
			<label>Z</label>
			<input type="number" ng-model="rootZcoord" ><br>
            <h3>Tree Settings</h3>
			<label>Delta</label>
			<input type="number" ng-model="deltaAngle" ><br>
            <label>Axiom</label>
			<input type="text" ng-model="axiom" ><br>
			<label>P1</label>
			<input type="text" ng-model="prod1" ><br>
            <label>P2</label>
			<input type="text" ng-model="prod2" ><br>
            <label>P3</label>
			<input type="text" ng-model="prod3" ><br>
            <label>P4</label>
			<input type="text" ng-model="prod4" ><br>
            <label>P5</label>
			<input type="text" ng-model="prod5" ><br>
            <label>Max Iterations</label>
			<input type="number" ng-model="maxIterations" ><br>
			<!--<button type="button" ng-click="generate2D()">Generate</button>-->
            <button type="button" ng-click="createTree()">Create Tree</button>
            <button type="button" ng-click="landCycle()">Iteration</button>
        </div>
    </div>
    
    <script> 
        SystemJS.config({baseURL: './'});
        SystemJS.import('TreesGenerator.js');
    </script>
</body>

</html>